body {
  margin: 0;
  padding: 0;
  background: black;
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
}

canvas {
  display: block;
  margin: auto;
}
.back{
  text-align: left;
}
#btn99{
  padding: 0.5em;
  border-radius: 0.3em;
  color: darkblue;
  font-size: 1.5em;
  background: rgb(26,212,212);
  cursor: pointer;
}